<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div id="myapp">
         <h1>Hola</h1>

         <hr>

         <input type="text"
         placeholder="Add Quote"
         v-on:keypress.enter="addQuotes"
         v-model="newMessage"
         >

         <ul>
            <li v-for="({quote, author}, index) in quoaux">
                <span>{{index + 1}} - {{ quote }}</span>
                <blockquote v-if="showAuthor">{{ author }}</blockquote>
            </li>
         </ul>

         <button @click="showOnOff">Autthor</button>
         <button v-on:click="addQuotes">Add Quote</button>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
    
</body>
</html>